@tailwind base;
@tailwind components;
@tailwind utilities;



/* Custom slide in effect */
.slide-in-left {
  opacity: 0;
  transform: translateX(-50px);
  animation: slideInLeft 1.5s forwards ease-out;
}

.slide-in-right {
  opacity: 0;
  transform: translateX(50px);
  animation: slideInRight 1.5s forwards ease-out;
}

@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
